<%= form_for @changeset, @action, [multipart: true], fn f -> %>
  <%= if @changeset.action do %>
    <div class="alert alert-danger">
      <p>Oops, something went wrong! Please check the errors below.</p>
    </div>
  <% end %>

  <div class="form-group">
    <%= label f, :plan_id, class: "control-label" %>
    <%= number_input f, :plan_id, class: "form-control" %>
    <%= error_tag f, :plan_id %>
  </div>

  <div class="form-group">
    <%= label f, :file, class: "control-label" %>
    <%= file_input f, :file %>
    <%= error_tag f, :file %>
  </div>

  <div class="form-group">
    <%= submit "Submit", class: "btn btn-primary" %>
  </div>
<% end %>
