<h2>Show job</h2>

<ul>

  <li>
    <strong>Plan:</strong>
    <%= @job.plan_id %>
  </li>

  <li>
    <strong>File:</strong>
    <%= @job.file %>
  </li>

</ul>

<%= link "Edit", to: job_path(@conn, :edit, @job) %>
<%= link "Back", to: job_path(@conn, :index) %>
