<%= form_for @changeset, @action, [multipart: :true], fn f -> %>
  <%= if @changeset.action do %>
    <div class="alert alert-danger">
      <p>Oops, something went wrong! Please check the errors below.</p>
    </div>
  <% end %>

  <div class="form-group">
    <%= label f, :setup, class: "control-label" %>
    <%= file_input f, :setup %>
    <%= error_tag f, :setup %>
  </div>

  <div class="form-group">
    <%= label f, :prep, class: "control-label" %>
    <%= file_input f, :prep %>
    <%= error_tag f, :prep %>
  </div>

  <div class="form-group">
    <%= label f, :build, class: "control-label" %>
    <%= file_input f, :build %>
    <%= error_tag f, :build %>
  </div>

  <div class="form-group">
    <%= label f, :grading, class: "control-label" %>
    <%= file_input f, :grade %>
    <%= error_tag f, :grade %>
  </div>

  <div class="form-group">
    <%= submit "Submit", class: "btn btn-primary" %>
  </div>
<% end %>
