<h2>Listing plans</h2>

<table class="table">
  <thead>
    <tr>
      <th>Setup</th>
      <th>Prep</th>
      <th>Build</th>
      <th>Grade</th>

      <th></th>
    </tr>
  </thead>
  <tbody>
<%= for plan <- @plans do %>
    <tr>
      <td><%= plan.setup %></td>
      <td><%= plan.prep %></td>
      <td><%= plan.build %></td>
      <td><%= plan.grade %></td>

      <td class="text-right">
        <%= link "Show", to: plan_path(@conn, :show, plan), class: "btn btn-default btn-xs" %>
        <%= link "Edit", to: plan_path(@conn, :edit, plan), class: "btn btn-default btn-xs" %>
        <%= link "Delete", to: plan_path(@conn, :delete, plan), method: :delete, data: [confirm: "Are you sure?"], class: "btn btn-danger btn-xs" %>
      </td>
    </tr>
<% end %>
  </tbody>
</table>

<%= link "New plan", to: plan_path(@conn, :new) %>
