<h2>Show plan</h2>

<ul>
  <li>
    <strong>Setup:</strong>
    <%= @plan.setup %>
  </li>

  <li>
    <strong>Prep:</strong>
    <%= @plan.prep %>
  </li>

  <li>
    <strong>Build:</strong>
    <%= @plan.build %>
  </li>

  <li>
    <strong>Grade:</strong>
    <%= @plan.grade %>
  </li>
</ul>

<%= link "Edit", to: plan_path(@conn, :edit, @plan) %>
<%= link "Back", to: plan_path(@conn, :index) %>
