<div class="row">
  <div class="col-lg-6">
    <h1>Plans</h4>
    <ul>
      <li>Plan1</li>
    </ul>

    <h2>New Plan</h2>
    <%= link "New Plan", to: plan_path(@conn, :new) %>
  </div>

  <div class="col-lg-6">
    <h1>Jobs</h1>
    <ul>
      <li>Job1</li>
    </ul>

    <h2>New Job</h2>
    <%= link "New Job", to: job_path(@conn, :new) %>
  </div>
</div>
