<div class="row">
  <div class="col-lg-12">
    <h1>Shell Test</h1>

    <div id="shell-vue">
      <p>
        <input type="text" v-model="command" @keyup.enter="run_cmd">
        <button @click="run_cmd">Run</button>
      </p>
    </div>

    <div id="xterm">
    </div>
  </div>
</div>
